<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final_project_y">
    //permission for Internet
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final_project_y">


        //----------------------ProfileStu-----------------------
        <activity
            android:name=".ProfileStu"
            android:exported="true">

        </activity>

        //----------------------main_page-----------------------
        <activity
            android:name=".MainPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //-------------------login_page--------------------------
        <activity
            android:name=".login_page"
            android:exported="true">
        </activity>
        //--------------------first_page-------------------------
        <activity
            android:name=".first_page"
            android:exported="true">

        </activity>
        //--------------------signup_page-------------------------
        //--------------------material_page-------------------------
        <activity
            android:name=".MaterialsPage"
            android:exported="true">

        </activity>
        //--------------------assignments_page-------------------------
        <activity
            android:name=".AssignmentsPage"
            android:exported="true">

        </activity>
        //--------------------inside_group_page-------------------------
        <activity
            android:name=".InsideGroupPage"
            android:exported="true">

        </activity>

    </application>

</manifest>